

{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Principal/All Students</title>
    <link rel="stylesheet" href="{% static 'css/all_students.css' %}?v=1">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">


</head>
<body>

<h2>All Students - Class Wise List</h2>
<a href="{% url 'principal_dashboard' %}" class="back-dashboard"> Back to Dashboard</a>

{% for class, students in classwise_students.items %}
    <h3 >Class {{ class }} - Student List</h3>

    <table class="student-table">
        <thead>
            <tr>
                <th>Roll No</th>
                <th>Name</th>
                <th>Admission No</th>
                <th>Admission Date</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Status</th>
                <th>Passed Out Year</th>
                <th>TC Issued Date</th>
                <th>Guardian Name</th>
                <th>Phone</th>
                <th>Address</th>
            </tr>
        </thead>

        <tbody>
            {% for s in students %}
            <tr>
                <td>{{ s.roll_no }}</td>
                <td>{{ s.name }}</td>
                <td>{{ s.admission_number }}</td>
                <td>{{ s.admission_date }}</td>
                <td>{{ s.date_of_birth }}</td>
                <td>{{ s.gender }}</td>
                <td>
                    <span class="status-badge 
                    {% if s.status == 'Active' %}status-active
                    {% elif s.status == 'Inactive' %}status-inactive
                    {% elif s.status == 'Passed Out' %}status-passed
                    {% elif s.status == 'TC Issued' %}status-tc
                    {% endif %}">
                        {{ s.status }}
                    </span>
                </td>
                <td>{{ s.passed_out_year }}</td>
                <td>{{ s.tc_issued_date }}</td>
                <td>{{ s.guardian_name }}</td>
                <td>{{ s.guardian_phone }}</td>
                <td>{{ s.guardian_address }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
<hr>
</body>
</html>
