{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/all_teacher.css' %}?v=1">
    <title>All_Teachers</title>
</head>
<body>
<h2>All Teachers</h2>

{% if messages %}
    {% for m in messages %}
        <div class="alert alert-success" style="color: rgb(246, 250, 246);font-size: 1.5rem; background-color:green; font-weight: bold;">{{ m }}</div>
    {% endfor %}
{% endif %}


<div class="right-container">
        <div id="teacherTableSection" >
            <div class="teacher-header">
                <h2>Teacher Management</h2>
                <div class="teacher-actions">
                    <input type="text" placeholder="Search" class="search-box">
                    <button class="filter-btn">Filters</button>
                    <!-- <a href="{% url 'add_teacher' %}" class="add-btn"  id="openAddTeacherForm">+ Add New Teacher</a> -->
                    <button class="add-btn">
                        <a href="{% url 'add_teacher' %}">+ Add New Teacher</a>
                    </button>
                    <a href="{% url 'principal_dashboard' %}" class="back-btns">Back</a>

                    <!-- <button class="add-btn" id="openAddTeacherForm">+ Add New Teacher</button> -->

                </div>
            </div>
            <table class="teacher-table">
                <thead>
                    <tr>
                        <th>Teacher Name</th>
                        <th>ID</th>
                        <th>Email id</th>
                        <th>Subjects</th>
                        <th>Assigned Class</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="teacherTableBody">
                    {% for t in teachers %}
                    <tr>
                        <td>{{ t.tname }}</td>
                        <td>{{ t.teacher_id }}</td>
                        <td>{{ t.temail }}</td>
                        <td>{{ t.tdept }}</td>
                        <td>{{ t.tassign }}</td>
                        <td>
                            <button class="edit-btn"
                                data-name="{{t.tname}}"
                                data-id="{{t.id}}"
                                data-email="{{t.temail}}"
                                data-dept="{{t.tdept}}"
                                data-assign="{{t.tassign}}">
                                Edit
                            </button>
                            <a href="{% url 'delete_teacher' t.id %}" class="delete-link">

                                <button class="delete-btn">Delete</button>
                            </a>
                        </td>
                    </tr>
                
                    {% empty %}
                <tr>
                    <td colspan="5">No teachers added yet.</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
</div>

<div class="modal" id="editmodal">
    <div class="modal-content">
        <span class="close-btn" id="closeedit">&times;</span>
        <h3>Edit Details</h3>
        <form action="update_teacher/<int:id>/" id="editTeacherForm" method="POST">
            {% csrf_token %}
            <label for="tname">Name</label>
            <input type="text" id="edit_name" name="tname" placeholder="Enter teacher name" required>
            
            <label for="tid">Teacher ID</label>
            <input type="hidden" id="edit_id" name="id" placeholder="Enter Teacher Id" required>

            <label for="temail">Email</label>
            <input type="email" id="edit_email" name="temail" placeholder="Enter email" required >

            <label for="tdept">Department</label>
            <input type="text" id="edit_dept" name="tdept" placeholder="Enter departmant" required>

            <label for="tassign"> Assigned class</label>
            <input type="text" id="edit_assign" name="tassign" placeholder="Assigned class" required>

            <button type="submit" class="save-edit-btn">Save Changes</button>
        </form>
    </div>
</div>
<script src="{% static 'js/princi.js' %}?v=2"></script>
</body>
</html>