{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Teacher_dashboard/Edit Attendance</title>
    <link rel="stylesheet" href="{% static 'css/attendance.css' %}">
</head>

<body>
<div class="container">
    <h2>Edit Attendance - {{ today }}</h2>

    <form method="POST">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Session</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                {% for item in records %}
                <tr>
                    <td>{{ item.student_name }}</td>
                    <td>{{ item.session|title }}</td>

                    <td>
                        <select name="status_{{ item.id }}">
                            <option value="Present" {% if item.status == "Present" %}selected{% endif %}>Present</option>
                            <option value="Absent" {% if item.status == "Absent" %}selected{% endif %}>Absent</option>
                        </select>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button type="submit" class="btn-submit">Update Attendance</button>
    </form>

    <center>
        <a href="{% url 'select_attendance_session' %}" class="back-btn">Back</a>
    </center>
</div>


<!---------------------------------------------VIEW ATTENDANCE ------------------------------->

<h2>Attendance History</h2>

<table class="history-table">
    <thead>
        <tr>
            <th>Roll No</th>
            <th>Student Name</th>

            {% comment %} Dynamic Date Columns {% endcomment %}
            {% for stu, dates in attendance_table.items %}
                {% for d, sessions in dates.items %}
                    <th>{{ d }} (M)</th>
                    <th>{{ d }} (A)</th>
                {% endfor %}
                {% break %}
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for stu, dates in attendance_table.items %}
        <tr>
            <td>{{ stu.roll_no }}</td>
            <td>{{ stu.name }}</td>

            {% for d, sessions in dates.items %}
                <td>{{ sessions.morning }}</td>
                <td>{{ sessions.afternoon }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
