

/* ADD TEACHER FORM */
#addTeacherSection {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.08);
}

#addTeacherSection form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#addTeacherSection input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f8f8f8;
}

.save-btn {
    width: 150px;
    padding: 10px;
    background: #0d6efd;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.back-btn {
    position: absolute;
    top: 50px;
    right: 100px;

    display: inline-block;
    padding: 10px 18px;

    background: #051df7cc;      
    border-radius: 8px;
    border: 1px solid #dcdcdc;

    font-size: 14px;
    font-weight: 600;
    color: #f0eeee;
    text-decoration: none;

    backdrop-filter: blur(6px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);

    transition: 0.3s ease;
}

.back-btn:hover {
    background: #3d17fd;
    box-shadow: 0 5px 12px rgba(0,0,0,0.25);
    transform: translateY(-2px);
}





