body{
    background-color: #cccefd;
}
.add-form {
    width: 400px;
    background: rgb(234, 232, 232);
    padding: 20px;
    margin: auto;
    box-shadow: 0 2px 12px rgba(61, 22, 214, 0.7);
    border-radius: 8px;
    transition: 0.3s ease-in;
}
.add-form:hover{
    box-shadow: 0 2px 12px rgba(55, 23, 240, 0.5);
    transition: 0.1s ease-out;
    cursor: pointer;
}

.add-form label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}


.add-form input,
.add-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.add-form input,.add-form textarea:hover{
    cursor:pointer;

}
.save-btn {
    margin-top: 15px;
    width: 100%;
    background: #7779fd;
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}
.back-btn {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    padding: 10px 14px;
    background: #6c74ff;
    color: white;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.2s ease;
}

.back-btn:hover {
    background: #4b52e0;
}
.back-btns {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    padding: 10px 14px;
    background: #6c74ff;
    color: white;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.2s ease;
    right: 150px;
    box-shadow: #7b81f7;
}
.back-btns:hover{
    background: #4b52e0;
    box-shadow: #555;
}
h2{
    text-align: center;
    text-decoration: underline;
    bottom: 40px;
}

.option
{
    width: 100%;
}