body{
    background: #91e8f4;
}

/* TABLE IN PRINCIPAL DASHBOARD */

table {
    width: 100%;
    background:#c5f8f2;
    border-collapse: collapse;
    box-shadow: 0 2px 12px rgba(0,0,0,0.1);
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
    font-family: "poppins",sans-serif;
}

table th {
    background: #7779fd;
    color: white;
}

table tr:hover {
    background: #f1f1f1;
}
h2{
    font-size: 2rem;
    font-family: "Inter" sans-serif;
    text-align: center;
    text-decoration: underline;
}
h3{
    margin-top: 90px;
    font-size: 1.9rem;
}
.status-badge {
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 600;
    color: white;
    display: inline-block;
}

/* Status Colors */
.status-active {
    background: #28a745;   /* green */
}

.status-inactive {
    background: #ff9800;   /* orange */
}

.status-passed {
    background: #2196f3;   /* blue */
}

.status-tc {
    background: #e53935;   /* red */
}
.back-dashboard {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    padding: 10px 14px;
    background: #a28089;
    color: rgb(19, 19, 19);
    border-radius: 6px;
    font-size: 14px;
    /* font-weight: bold; */
    transition: 0.2s ease;
}

.back-dashboard:hover {
    background: #ffa8B6;
}
/* .student-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

.student-table th, .student-table td {
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
}

.popup-content {
    background: #fff;
    width: 35%;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
}

.close {
    float: right;
    font-size: 25px;
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background: #3b82f6;
    color: white;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
} */